:root {
  --light-blue: #7AD5FF;
  --blue: #4169E1;
  --olive: #808000;
  --light-green: #98FB98;
  --green: #2E8B57;
  --slate-gray: #2F4F4F;
  --light-teal: #33FFBD;
  --dark-teal: #008080;
  --pink: #EE82EE;
  --dark-pink: #C00086;
  --purple: #8B008B;
  --light-purple: #E8ABFF;
  --orange: #FF5733;
  --yellow: #FFD700;
  --tan: #D2B48C;
  --brown: #8B4513;
  --red: #DC143C;
}